/* .class{
  bottom: 0;
}
ul{
  margin: 0;
  border: 1px solid;
  overflow: hidden;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,61,9,1) 35%, rgba(0,212,255,1) 100%);
}
li{
  position: relative;
  display: inline-block;
  padding: 10px ;
  font-size: large;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
li:hover{
  background-color: white;
  color: black;
  cursor: pointer;
} */
*{
  background-color: bisque;
  text-align: center;
  
}