/* 
#Lavender
{
    background-color: lavender;
 
}

#Crimson 
{
    background-color: Crimson;
    
}

#Darkblue 
{
    background-color: Darkblue;
  
}

#Teal 
{
    background-color: Teal;
}

#RebeccaPurple 
{
    background-color: RebeccaPurple;
}
#Lime{
    background-color: lime;
}
#GhostWhite{
    background-color: GhostWhite;
}
#AliceBlue{
    background-color: AliceBlue;
}
#AquaMarine{
    background-color: AquaMarine;
}
.div{
    margin-top: 100px;
    margin-left: 400px;
    height: 400px;
    width: 800px;
} */
